<form action="" (ngSubmit)="selectTemplate()">
  <label for="templateSelection"
    >Selecciona una plantilla
    <select
      id="templateSelection"
      name="template"
      [(ngModel)]="mainParams.selectedTemplateName"
    >
      <option
        *ngFor="let whatsAppTemplate of whatsAppTemplates"
        value="{{ whatsAppTemplate.name }}"
      >
        {{ whatsAppTemplate.name }}: {{ whatsAppTemplate.template }}
      </option>
    </select>
  </label>
  <button type="submit">Siguiente</button>
</form>
