<div class="mt-6" *ngIf="componentVisibility.templateSelection">
  <p-card>
    <h3>Selecciona una plantilla para envíos</h3>
    <div>
      <p-dropdown
        [options]="whatsAppTemplates"
        [(ngModel)]="mainParams.selectedTemplateName"
        placeholder="Selecciona una plantilla"
        optionLabel="template"
        optionValue="name"
        [showClear]="true"
      ></p-dropdown>
    </div>
    <div class="mt-2">
      <button
        pButton
        label="Siguiente"
        type="button"
        (click)="selectTemplate()"
      ></button>
    </div>
  </p-card>
</div>

<!-- <form action="" (ngSubmit)="selectTemplate()">
  <label for="templateSelection"
    >Selecciona una plantilla
    <select
      id="templateSelection"
      name="template"
      [(ngModel)]="mainParams.selectedTemplateName"
    >
      <option
        *ngFor="let whatsAppTemplate of whatsAppTemplates"
        value="{{ whatsAppTemplate.name }}"
      >
        {{ whatsAppTemplate.name }}: {{ whatsAppTemplate.template }}
      </option>
    </select>
  </label>
  <button type="submit">Siguiente</button>
</form> -->
