<form action="" (ngSubmit)="selectTemplate()">
  <select name="template" [(ngModel)]="mainParams.selectedTemplate">
    <option
      *ngFor="let whatsAppTemplate of whatsAppTemplates"
      value="{{ whatsAppTemplate.name }}"
    >
      {{ whatsAppTemplate.name }}: {{ whatsAppTemplate.template }}
    </option>
  </select>
  <button type="submit">Siguiente</button>
</form>

<!-- sedes -->
<form (ngSubmit)="saveClinics($event)">
    <label *ngFor="let clinic of clinicsApiResponse.data">
      <input checked name="{{ clinic.nombre }}" type="checkbox" />{{
        clinic.nombre
      }}
    </label>
    <label >Fecha de la cita
      <input [(ngModel)]="mainParams.appointmentsDate" type="date" name="appointmentsDate" >
    </label>
    <button>Siguiente</button>
  </form>
