<div *ngIf="componentVisibility.summary">
  <p>Resumen:</p>

  <div>
    <div>Línea de WhatsApp: +57{{ mainParams.selectedLine }}:</div>
    <div>Plantilla: {{ mainParams.selectedTemplateName }}</div>
    <div>Nota del envío: {{ mainParams.campaignNote }}</div>
    <div>Fecha de las citas: {{ mainParams.appointmentsDate }}</div>
  </div>
  <br />
  <div>
    <button [disabled]="loadButtonDisabled" (click)="showTemplateWithData()">
      {{ loadButtonText }}
    </button>
    <span> </span>
    <button [disabled]="sendButtonDisabled" (click)="sendWhatsAppBroadcast()">
      Enviar Mensajes
    </button>
    <br />
    <div *ngIf="componentVisibility.progressBar">
      <label for="loadingAppointments">Descargando Citas: </label>
      <progress
        id="loadingAppointments"
        [value]="progressBar.downloadedAppointments"
        [max]="allAppointments.appointments.length"
      ></progress>
    </div>
  </div>

  <!-- Template con datos -->
  <hr />
  <br />
  <div>Aquí van los templates con la data:</div>
  <br />
  <hr />
  <div *ngFor="let template of templatesWithData">
    {{ template }} <br />
    <hr />
  </div>
</div>
