<p>Resumen:</p>

<div>
  <div>Línea de WhatsApp: +{{ mainParams.selectedLine }}:</div>
  <div>Plantilla: {{ mainParams.selectedTemplateName }}</div>
  <div>Nota del envío: {{ mainParams.campaignNote }}</div>
  <div>Fecha de las citas: {{ mainParams.appointmentsDate }}</div>
</div>
<div>
  <button (click)="showTemplateWithData()">Cargar Ejemplos</button>
  <!-- <button (click)='sendBroadcast()'>Enviar mensajes</button> -->
</div>

<button (click)="sendWhatsAppBroadcast()">Enviar Mensajes</button>

<!-- Template con datos -->
<div>Aquí van los templates con la data</div>
<br />
<hr />
<div *ngFor="let template of templatesWithData">
  {{ template }} <br />
  <hr />
</div>
