<app-wa-notifications-page></app-wa-notifications-page>

<!-- <div class="keys-form">
  <form
    *ngIf="!mainParams.secretKeysCompleted"
    action=""
    (ngSubmit)="saveKeys()"
  >
    <label for="dentalinkKey">Ingresa la clave de Dentalink</label>
    <input
      type="password"
      name="dentalinkKey"
      [(ngModel)]="secretKeys.dentalinkKey"
      id="dentalinkKey"
    />
    <label for="b2chatUser">Ingresa el usuario de WhatsApp</label>
    <input
      type="password"
      name="b2chatUser"
      [(ngModel)]="secretKeys.b2chatUser"
      id="b2chatUser"
    />
    <label for="b2ChatPass">Ingresa la clave de WhatsApp</label>
    <input
      type="password"
      name="b2ChatPass"
      [(ngModel)]="secretKeys.b2ChatPass"
      id="b2ChatPass"
    />
    <button>Guardar</button>
  </form>
</div> -->
<!-- <hr /> -->
<!-- <div class="line-form">
  <form action="" (ngSubmit)="selectLine()">
    <select
      name="mainParams"
      id="lineSelection"
      [(ngModel)]="mainParams.selectedLine"
    >
      <option
        *ngFor="let whatsAppLine of whatsAppLines"
        value="{{ whatsAppLine.countryCode }}{{ whatsAppLine.lineNumber }}"
      >
        +{{ whatsAppLine.countryCode }}{{ whatsAppLine.lineNumber }}
      </option>
    </select>
    <label for="campaignNote">Notas de la campaña</label>
    <input
      type="text"
      id="campaignNote"
      name="campaignNote"
      [(ngModel)]="mainParams.campaignNote"
    />
    <button type="submit">Siguiente</button>
  </form> -->
  <hr />
  <!-- <form action="" (ngSubmit)="selectTemplate()">
    <select
      name="template"
      id="templateSelection"
      [(ngModel)]="mainParams.selectedTemplate"
    >
      <option
        *ngFor="let whatsAppTemplate of whatsAppTemplates"
        value="{{ whatsAppTemplate.name }}"
      >
        {{ whatsAppTemplate.name }}: {{ whatsAppTemplate.template }}
      </option>
    </select>
    <button type="submit">Siguiente</button>
  </form> -->
  <hr />
  <!-- sedes -->
  <form (ngSubmit)="saveClinics($event)">
    <label *ngFor="let clinic of clinicsApiResponse.data">
      <input checked name="{{ clinic.nombre }}" type="checkbox" />{{
        clinic.nombre
      }}
    </label>
    <label >Fecha de la cita
      <input [(ngModel)]="mainParams.appointmentsDate" type="date" name="appointmentsDate" >
    </label>
    <button>Siguiente</button>
  </form>
  


<!-- Resumen -->
<div>
  Plantilla: {{mainParams.selectedTemplate}}
  Nota del envío: {{mainParams.campaignNote}}
  Fecha de las citas: {{mainParams.appointmentsDate}}
</div>