<div class="mt-6" *ngIf="componentVisibility.clinicsList">
  <p-card>
    <h5>Selecciona la fecha de las citas</h5>
    <div class="fluid grid formgrid">
      <div class="p-field p-col-12 p-md-4">
        <form (ngSubmit)="saveClinics($event)">
          <input
            [(ngModel)]="mainParams.appointmentsDate"
            type="date"
            name="appointmentsDate"
            autocomplete="off"
            class="ng-tns-c71-0 p-inputtext p-component ng-star-inserted"
            placeholder=""
            ng-reflect-ng-class="p-inputtext p-component"
            id="icon"
          />
          <button
            label="{{ clinicsInputs.save.text }}"
            class="ml-2"
            pButton
            type="button"
            (click)="getClinics()"
          ></button>
          <p-card>
            <div>
              <button
                [disabled]="clinicsInputs.toggle.disabled"
                type="button"
                (click)="toggleClinics()"
              >
                {{ clinicsInputs.toggle.text }}
              </button>
            </div>
            <label *ngFor="let clinic of clinicsApiResponse.data">
              <input
                [checked]="clinicsInputs.checkboxes.checked"
                name="{{ clinic.nombre }}"
                type="checkbox"
              />{{ clinic.nombre }}
            </label>
            <div>
              <button
                [disabled]="
                  clinicsInputs.next.disabled ||
                  mainParams.appointmentsDate === ''
                "
                type="submit"
              >
                {{ clinicsInputs.next.text }}
              </button>
            </div>
          </p-card>
        </form>
      </div>
    </div>
  </p-card>
</div>
<br />

<form *ngIf="componentVisibility.clinicsList" (ngSubmit)="saveClinics($event)">
  <label
    >Selecciona la fecha de las citas
    <input
      [(ngModel)]="mainParams.appointmentsDate"
      type="date"
      name="appointmentsDate"
    />
  </label>
  <button type="button" (click)="getClinics()">
    {{ clinicsInputs.save.text }}
  </button>
  <hr />
  <div>
    <button
      [disabled]="clinicsInputs.toggle.disabled"
      type="button"
      (click)="toggleClinics()"
    >
      {{ clinicsInputs.toggle.text }}
    </button>
  </div>
  <label *ngFor="let clinic of clinicsApiResponse.data">
    <input
      [checked]="clinicsInputs.checkboxes.checked"
      name="{{ clinic.nombre }}"
      type="checkbox"
    />{{ clinic.nombre }}
  </label>
  <div>
    <button
      [disabled]="
        clinicsInputs.next.disabled || mainParams.appointmentsDate === ''
      "
      type="submit"
    >
      {{ clinicsInputs.next.text }}
    </button>
  </div>
</form>
