<form *ngIf="componentVisibility.clinicsList" (ngSubmit)="saveClinics($event)">
  <label
    >Selecciona la fecha de las citas
    <input
      [(ngModel)]="mainParams.appointmentsDate"
      type="date"
      name="appointmentsDate"
    />
  </label>
  <button type="button" (click)="getClinics()">
    {{ clinicsInputs.save.text }}
  </button>
  <hr />
  <div>
    <button
      [disabled]="clinicsInputs.toggle.disabled"
      type="button"
      (click)="toggleClinics()"
    >
      {{ clinicsInputs.toggle.text }}
    </button>
  </div>
  <label *ngFor="let clinic of clinicsApiResponse.data">
    <input
      [checked]="clinicsInputs.checkboxes.checked"
      name="{{ clinic.nombre }}"
      type="checkbox"
    />{{ clinic.nombre }}
  </label>
  <div>
    <button [disabled]="clinicsInputs.next.disabled" type="submit">
      {{ clinicsInputs.next.text }}
    </button>
  </div>
</form>
