<form *ngIf="componentVisibility.clinicsList" (ngSubmit)="saveClinics($event)">
  <label
    >Selecciona la fecha de las citas
    <input
      [(ngModel)]="mainParams.appointmentsDate"
      type="date"
      name="appointmentsDate"
    />
  </label>
  <button type="button" (click)="getClinics()">{{clinicsButtons.save.text}}</button>
  <hr />
  <label *ngFor="let clinic of clinicsApiResponse.data">
    <input [checked]="false" name="{{ clinic.nombre }}" type="checkbox" />{{
      clinic.nombre
    }}
  </label>
  <div>
    <button [disabled]="clinicsButtons.next.enabled" type="submit">
      {{clinicsButtons.next.text}}
    </button>
  </div>
</form>
