<div class="line-form">
  <form action="" (ngSubmit)="selectLine()">
    <select
      name="mainParams"
      id="lineSelection"
      [(ngModel)]="mainParams.selectedLine"
    >
      <option
        *ngFor="let whatsAppLine of whatsAppLines"
        value="{{ whatsAppLine.countryCode }}{{ whatsAppLine.lineNumber }}"
      >
        +{{ whatsAppLine.countryCode }}{{ whatsAppLine.lineNumber }}
      </option>
    </select>
    <label for="campaignNote">Notas de la campaña</label>
    <input
      type="text"
      id="campaignNote"
      name="campaignNote"
      [(ngModel)]="mainParams.campaignNote"
    />
    <button type="submit">Siguiente</button>
  </form>
</div>
