<div class="mt-6" *ngIf="componentVisibility.secretKeys">
  <p-card>
    <h5>Iniciar Sesión</h5>
  <div class="grid fluid">
    <div class="col-12 md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input type="text" pInputText placeholder="Contraseña de Dentalink..." />
      </div>
    </div>
  </div>
  <button pButton type="button" label="Siguiente" ></button>
  </p-card>
</div>


<div class="keys-form">
  <form
    *ngIf="componentVisibility.secretKeys"
    action=""
    (ngSubmit)="saveKeys()"
  >
    <div>
      <label for="dentalinkKey">Ingresa la contraseña de Dentalink</label>
      <input
        type="password"
        name="dentalinkKey"
        [(ngModel)]="secretKeys.dentalinkKey"
        id="dentalinkKey"
      />
    </div>
    <div><button>Siguiente</button></div>
  </form>
</div>

