<div class="keys-form">
  <form
    *ngIf="!mainParams.secretKeysCompleted"
    action=""
    (ngSubmit)="saveKeys(); getWhatsAppToken()"
  >
    <div>
      <label for="dentalinkKey">Ingresa la clave de Dentalink</label>
      <input
        type="password"
        name="dentalinkKey"
        [(ngModel)]="secretKeys.dentalinkKey"
        id="dentalinkKey"
      />
    </div>
    <div>
      <label for="b2chatUser">Ingresa el usuario de WhatsApp</label>
      <input
        type="password"
        name="b2chatUser"
        [(ngModel)]="secretKeys.b2chatUser"
        id="b2chatUser"
      />
    </div>
    <div>
      <label for="b2ChatPass">Ingresa la clave de WhatsApp</label>
      <input
        type="password"
        name="b2ChatPass"
        [(ngModel)]="secretKeys.b2ChatPass"
        id="b2ChatPass"
      />
    </div>
    <div><button>Guardar</button></div>
  </form>
</div>
