<div class="mt-6" *ngIf="componentVisibility.secretKeys">
  <p-card>
    <h5>Iniciar Sesión</h5>
    <form class="grid fluid" action="" (ngSubmit)="saveKeys()">
      <div class="col-12 md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
          <input
            type="password"
            name="dentalinkKey"
            [(ngModel)]="secretKeys.dentalinkKey"
            id="dentalinkKey"
            pInputText
            placeholder="Contraseña de Dentalink..."
          />
        </div>
        <button class="mt-2" pButton type="submit" label="Siguiente"></button>
      </div>
    </form>
  </p-card>
</div>
